@import "../../scss/index.scss";

.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__content {
    width: 500px;
    border-radius: 10px;
    background-color: rgba($background-primary, 0.9);
    padding: 50px 70px;
    z-index: 1;
  }
}
